h1 {
  font-size: 62pt !important;
  font-family: 'Patrick Hand', cursive !important ;
  text-align: center;
  padding-bottom: 15px;
}

h2 {
  font-size: 32pt !important;
  font-family: 'Patrick Hand', cursive !important ;
  text-align: center;
}


p {
  font-size: 22pt;
  font-family: 'Patrick Hand', cursive !important ;
  text-align: justify;
  line-height: 150%;
}

p.centered {
  text-align: center;
}

p.greeting {
  font-size: 32pt;
  padding-bottom: 10%;
}


html , body {

  background-image: url("../images/inflicted.png") ;
  background-repeat: repeat;
}

.text_no_1:hover , .text_no_2:hover , .text_no_3:hover , .text_no_4:hover , .text_no_5:hover {
    text-shadow: 0 0 10px #858585; 

}



#top_menu {
  background-image: url("../images/crossword.png") !important;
  background-repeat: repeat;
  border-bottom: solid 1px #000;
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;
  display: block;
  width: 100%;
  z-index: 1000;

}

#top_menu_index {
  background-image: url("../images/crossword.png") !important;
  background-repeat: repeat;
  border-bottom: solid 1px #000;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  display: block;
  width: 100%;
  z-index: 1000;

}

#bottom_menu {
  background-image: url("../images/crossword.png") !important;
  background-repeat: repeat;
  border-top: solid 1px #000;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 100px;
  display: block;
  width: 100%;
  z-index: 1000;
  bottom: 0%;
  }

.top_menu_text {
  line-height: 80px;
  font-size: 22pt;
}


a {
  color: #000 !important;
}

a:visited, a:link {
  text-decoration: none !important;

}

a:hover, a:active {
  text-decoration: none !important;
}

.relativepic {
  position: absolute;
  bottom: 48%;
  left: 10%;
  z-index: 100;
  border: solid 1px black;
}

.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}

.carousel.carousel-fade .item {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  opacity:0.4;
}

.carousel.carousel-fade .active.item {
  opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  left: 0;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0.8);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
  left: 0;
  z-index: 1;
}

.carousel.carousel-fade .carousel-control {
  z-index: 3;
}

.calendar_menu_row {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.currentMonth {
  padding-bottom: 1%;
}


.teaser_button {
   border-radius: 20px;
   background-image: url("../images/crossword.png") !important;
   background-repeat: repeat;
   border: solid 2px #000;
   width: 125px;
   display: block;
   margin-left: 80%;
}

.toolbar_button {
   margin-bottom: 20px;
   border-radius: 20px;
   background-image: url("../images/crossword.png") !important;
   background-repeat: repeat;
   border: solid 2px #000;
   width: 100px;
   position: absolute; 
}

.first_toolbar {
  bottom: 5px;
}

.second_toolbar {
}

.link_wrap: {
  position: relative;
  bottom: 90%;
  z-index: 100;
}

#back_to_top {
  text-align: center;
}

.button_text {
  padding-top: 5%;
}

.padding_menu {
  padding-left: 10% !important;
  padding-right: 10% !important;
}

.content {
  padding-top: 5%;
  padding-bottom: 5%;
}

.paddingleft {
  padding-left:13%;
}

.form {
  padding-bottom: 10%;
}


.submit_checkbox {
  top: 15px;
}

.red {
  color: #FF2215 !important;
}

.date {
  width: 16% !important;
}

.addedForm {
  font-size: 12pt;
}

.monthHeader {
  margin-bottom: 20px;
}

.paddingForm {
  padding-top: 25px;
  padding-bottom: 25px;
  color: blue;
}

#lookUp{

  width:600px;
  height: 1000px;
  position: fixed;
  top: 1%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  z-index: 1000;
  opacity: 0,2;
  display: none;
}

.rightClose {
  margin-left: 95%;
  font-size: 14pt;
  z-index: 2000;
}

#wrapPreview{

  width:600px;
  height: 50px;
  position: fixed;
  top: 1%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  z-index: 1000;
  opacity: 0,2;
}

.carousel-control {

  max-height: 100px !important;
  top: 300px !important; 
}


.top_indent {
  margin-top: 15%;
  margin-bottom: 5%;
}

#calendars_amount {
  width: 10%;
}

#accept_terms_alert {
 color: red;
}

#accept_personal_data_alert {
  color: red;
}

.costs_text {
  min-height: 1080px;
}

#comments {
  margin-bottom: 5%;
}

#re_captcha_alert {
  color: red;
}

.cost_font {
  font-size: 30pt;
}

.footer_menu {
  position: absolute;
        bottom: 0;
 
}

.teaser2 {
  width: 495px;
  height: 700px;
  margin-top: 15px;
  margin-bottom: 15px;
  z-index: 1000 !important;
  background-image: url("../images/crossword.png") !important;
  -webkit-box-shadow: 5px 6px 56px -15px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 6px 56px -15px rgba(0,0,0,0.75);
  box-shadow: 5px 6px 56px -15px rgba(0,0,0,0.75);
  margin-right: auto !important;
  margin-left: auto !important;
  display: block !important;
  
}

#lookUp{

  width:600px;
  height: 800px;
  position: fixed;
  top: 1%;
  margin-right: auto;
  margin-left: auto;
  display: block;
  background-color: white;
  z-index: 1000;
  opacity: 0,2;
  display: none;


}

#formatInput {
  width: 15%;
}

@media screen and (max-width: 720px) {
  .top_menu_text {
    text-align: center;
    font-size: 18;
  }

  .top_menu_logo {
    width: 20%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .responsive_hide {
    display: none !important;
  }

  .relativepic {
    bottom: 43%;
    left: 14%;
  }

}